<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirstPeriodInputDataMessages</key>
	<array>
		<string>Balance al final del periodo anterior.</string>
		<string>Impuesto general a la Venta.</string>
		<string>Total en préstamos pasados.</string>
		<string>Costo total de la materia prima del período anterior.</string>
		<string>Total de ventas del período anterior.</string>
	</array>
	<key>PeriodInputDataMessages</key>
	<array>
		<string>Gastos generados por temas administrativos.</string>
		<string>Bienes adquiridos anteriormente.</string>
		<string>Deudas que son difíciles, casi imposibles, de cobrar.</string>
		<string>Costo de las materias prima base</string>
		<string>Cobro de deudas en efectivo.</string>
		<string>Penalidad por ventas al crédito.</string>
		<string>Cobro de deudas.</string>
		<string>Dividendos.</string>
		<string>Gastos en activos fijos.</string>
		<string>Mano de obra fija.</string>
		<string>Fletes.</string>
		<string>Impuesto general a las ventas.</string>
		<string>Impuesto sobre la renta.</string>
		<string>Regularización de impuesto sobre la renta.</string>
		<string>Ingresos que se obtienen por préstamos.</string>
		<string>Gastos reciente por préstamos.</string>
		<string>Gastos antiguos por préstamos.</string>
		<string>Gastos por pagos de sueldos.</string>
		<string>Gastos por materia prima.</string>
		<string>Pagos al contado de materia prima.</string>
		<string>Otros pagos por materia prima.</string>
		<string>Ingreso por ventas</string>
		<string>Costo de ventas.</string>
		<string>Ganancia semestral.</string>
		<string>Gastos en beneficio social.</string>
		<string>Tasa Efectiva Anual.</string>
		<string>Mano de obra variable</string>
	</array>
</dict>
</plist>
